{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.list_organisations') }}">Organisations</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view_organisation', organisation_id=organisation.id) }}">{{ organisation.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </nav>
        {{ super() }}
        <h1>{{title}}</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="d-grid gap-2 d-sm-block">
            <a class="btn btn-primary" href="{{ url_for('organisation.create_grade', organisation_id=organisation.id) }}"><i class="bi bi-plus-lg"></i> New grade</a>
        </div>
    </div>
    <div class="col-md-6">
        <form action="" method="get" novalidate>
            <div class="input-group mb-3">
                <input type="search" name="name" value="{{ request.args.name }}" class="form-control" aria-label="Search" aria-describedby="button-addon">
                <button class="btn btn-primary" type="submit" id="button-addon" aria-label="Search"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="lead">{{ grades|length if grades else 0 }} grades{% if request.args.name %} containing "{{ request.args.name }}"{% endif %}</p>
        {% if grades %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Jobs</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grade in grades %}
                    <tr>
                        <th scope="row"><a href="{{ url_for('organisation.view_grade', organisation_id=organisation.id, grade_id=grade.id) }}">{{ grade.name }}</a></th>
                        <td><a href="#">5</a></td>
                        <td><a href="{{ url_for('organisation.edit_grade', organisation_id=organisation.id, grade_id=grade.id) }}">Edit</a> | <a href="{{ url_for('organisation.delete_grade', organisation_id=organisation.id, grade_id=grade.id) }}" class="link-danger">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}