{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=grade.organisation.id) }}">{{ grade.organisation.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('grade.list', organisation_id=grade.organisation.id) }}">Grades</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </nav>
        {{ super() }}
        <p class="h4 text-muted mb-0">Grade</p>
        <h1>{{ title }}</h1>
        <hr>
        {% include '_grade_description.html' %}
        <div class="d-grid gap-2 d-sm-block">
            <a class="btn btn-primary" href="{{ url_for('role.list', organisation_id=grade.organisation.id, grade_id=grade.id) }}">View Roles <span class="badge bg-secondary">{{ grade.roles }}</span></a>
            <a class="btn btn-secondary" href="{{ url_for('grade.edit', organisation_id=grade.organisation.id, grade_id=grade.id) }}"><i class="bi bi-pencil-square"></i> Edit</a>
            <a class="btn btn-danger" href="{{ url_for('grade.delete', organisation_id=grade.organisation.id, grade_id=grade.id) }}"><i class="bi bi-trash"></i> Delete</a>
        </div>
    </div>
</div>
{% endblock %}