{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=organisation.id) }}">{{ organisation.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Delete</li>
            </ol>
        </nav>
        {{ super() }}
        <p class="h4 text-muted mb-0">Organisation</p>
        <h1>{{title}}</h1>
        <hr>
        <p class="lead">Are you sure you want to delete {{ organisation.name }}?</p>
        <dl class="row">
            <dt class="col-sm-3">Domain</dt>
            <dd class="col-sm-9">{{ organisation.domain }}</dd>
            
            <dt class="col-sm-3">Grades</dt>
            <dd class="col-sm-9"><a href="{{ url_for('grade.list', organisation_id=organisation.id) }}">{{ organisation.grades }}</a></dd>

            <dt class="col-sm-3">Practices</dt>
            <dd class="col-sm-9"><a href="{{ url_for('practice.list', organisation_id=organisation.id) }}">{{ organisation.practices }}</a></dd>

            <dt class="col-sm-3">Roles</dt>
            <dd class="col-sm-9"><a href="{{ url_for('role.list', organisation_id=organisation.id) }}">{{ organisation.roles }}</a></dd>

            <dt class="col-sm-3">People</dt>
            <dd class="col-sm-9"><a href="{{ url_for('person.list', organisation_id=organisation.id) }}">{{ organisation.people }}</a></dd>

            <dt class="col-sm-3">Programmes</dt>
            <dd class="col-sm-9"><a href="{{ url_for('programme.list', organisation_id=organisation.id) }}">{{ organisation.programmes }}</a></dd>

            <dt class="col-sm-3">Projects</dt>
            <dd class="col-sm-9"><a href="">{{ organisation.projects }}</a></dd>

            <dt class="col-sm-3">Created</dt>
            <dd class="col-sm-9">{{ organisation.created_at.strftime("%d/%m/%Y %H:%M:%S") }}</dd>

            <dt class="col-sm-3">Last updated</dt>
            <dd class="col-sm-9">{{ organisation.updated_at.strftime("%d/%m/%Y %H:%M:%S") if organisation.updated_at else "Never" }}</dd>
        </dl>
        <form action="" method="post" novalidate>
            <div class="d-grid gap-2 d-sm-block">
                <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i> Yes, delete {{ organisation.name }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}