{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {{ super() }}
        <h1>{{title}}</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="d-grid gap-2 d-sm-block">
            <a class="btn btn-primary" href="{{ url_for('organisation.create_organisation') }}"><i class="bi bi-plus-lg"></i> New organisation</a>
        </div>
    </div>
    <div class="col-md-6">
        <form action="" method="get" novalidate>
            <div class="input-group mb-3">
                <input type="search" name="name" value="{{ request.args.name }}" class="form-control" aria-label="Search" aria-describedby="button-addon">
                <button class="btn btn-primary" type="submit" id="button-addon" aria-label="Search"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="lead">{{ organisations|length if organisations else 0 }} organisations{% if request.args.name %} containing "{{ request.args.name }}"{% endif %}</p>
        {% if organisations %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Domain</th>
                            <th scope="col">Programmes</th>
                            <th scope="col">Grades</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for organisation in organisations %}
                            <tr>
                                <th scope="row"><a href="{{ url_for('organisation.view_organisation', organisation_id=organisation.id) }}">{{ organisation.name }}</a></th>
                                <td>{{ organisation.domain }}</td>
                                <td><a href="{{ url_for('organisation.list_programmes', organisation_id=organisation.id) }}">{{ organisation.programmes }}</a></td>
                                <td><a href="{{ url_for('organisation.list_grades', organisation_id=organisation.id) }}">{{ organisation.grades }}</a></td>
                                <td><a href="{{ url_for('organisation.edit_organisation', organisation_id=organisation.id) }}">Edit</a> | <a href="{{ url_for('organisation.delete_organisation', organisation_id=organisation.id) }}" class="link-danger">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}