{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {{ super() }}
        <p class="h4 text-muted mb-0">Organisation</p>
        <h1>{{ title }}</h1>
        <hr>
        <dl class="row">
            <dt class="col-sm-3">Domain</dt>
            <dd class="col-sm-9">{{ organisation.domain }}</dd>

            <dt class="col-sm-3">Created</dt>
            <dd class="col-sm-9">{{ organisation.created_at.strftime("%d/%m/%Y %H:%M:%S") }}</dd>

            <dt class="col-sm-3">Last updated</dt>
            <dd class="col-sm-9">{{ organisation.updated_at.strftime("%d/%m/%Y %H:%M:%S") if organisation.updated_at else "Never" }}</dd>
        </dl>
        <div class="d-grid gap-2 d-sm-block mb-3">
            <a class="btn btn-secondary" href="{{ url_for('organisation.edit', organisation_id=organisation.id) }}"><i class="bi bi-pencil-square"></i> Edit</a>
            <a class="btn btn-danger" href="{{ url_for('organisation.delete', organisation_id=organisation.id) }}"><i class="bi bi-trash"></i> Delete</a>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Grades</h5>
                        <p class="card-text display-3"><a href="{{ url_for('grade.list', organisation_id=organisation.id) }}">{{ organisation.grades }}</a></p>
                        <a href="{{ url_for('grade.create', organisation_id=organisation.id) }}" class="card-link"><i class="bi bi-plus-lg"></i> New grade</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Practices</h5>
                        <p class="card-text display-3"><a href="{{ url_for('practice.list', organisation_id=organisation.id) }}">{{ organisation.practices }}</a></p>
                        <a href="{{ url_for('practice.create', organisation_id=organisation.id) }}" class="card-link"><i class="bi bi-plus-lg"></i> New practice</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Roles</h5>
                        <p class="card-text display-3"><a href="{{ url_for('role.list', organisation_id=organisation.id) }}">{{ organisation.roles }}</a></p>
                        <a href="{{ url_for('role.create', organisation_id=organisation.id) }}" class="card-link"><i class="bi bi-plus-lg"></i> New role</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">People</h5>
                        <p class="card-text display-3"><a href="{{ url_for('person.list', organisation_id=organisation.id) }}">{{ organisation.people }}</a></p>
                        <a href="{{ url_for('person.create', organisation_id=organisation.id) }}" class="card-link"><i class="bi bi-plus-lg"></i> New person</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Programmes</h5>
                        <p class="card-text display-3"><a href="{{ url_for('programme.list', organisation_id=organisation.id) }}">{{ organisation.programmes }}</a></p>
                        <a href="{{ url_for('programme.create', organisation_id=organisation.id) }}" class="card-link"><i class="bi bi-plus-lg"></i> New programme</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Projects</h5>
                        <p class="card-text display-3"><a href="{{ url_for('project.list', organisation_id=organisation.id) }}">{{ organisation.projects }}</a></p>
                        <a href="{{ url_for('project.create', organisation_id=organisation.id) }}" class="card-link"><i class="bi bi-plus-lg"></i> New project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}