{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=location.organisation.id) }}">{{ location.organisation.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('location.list', organisation_id=location.organisation.id) }}">Locations</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('location.view', organisation_id=location.organisation.id, location_id=location.id) }}">{{ location.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
        {{ super() }}
        <p class="h4 text-muted mb-0">Location</p>
        <h1>{{title}}</h1>
        <hr>
        {% include '_location_form.html' %}
    </div>
</div>
{% endblock %}