{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.list') }}">Organisations</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=project.organisation.id) }}">{{ project.organisation.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('project.list', organisation_id=project.organisation.id) }}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('project.view', organisation_id=project.organisation.id, project_id=project.id) }}">{{ project.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Delete</li>
            </ol>
        </nav>
        {{ super() }}
        <h1>{{title}}</h1>
        <hr>
        <p class="lead">Are you sure you want to delete {{ project.name }}?</p>
        <dl class="row">
            <dt class="col-sm-3">Project manager</dt>
            <dd class="col-sm-9">{% if project.manager %}<a href="{{ url_for('person.view', organisation_id=project.organisation.id, person_id=project.manager.id) }}">{{ project.manager.name }}</a>{% else %}None{% endif %}</dd>
            
            <dt class="col-sm-3">Programme</dt>
            <dd class="col-sm-9">{% if project.programme %}<a href="{{ url_for('project.view', organisation_id=project.organisation.id, project_id=project.programme.id) }}">{{ project.programme.name }}</a>{% else %}None{% endif %}</dd>

            <dt class="col-sm-3">Status</dt>
            <dd class="col-sm-9"><span class="badge {% if project.status=='active'%}bg-success{% elif project.status=='paused'%}bg-warning text-dark{% elif project.status=='closed'%}bg-danger{% endif %}">{{ project.status | upper }}</span></dd>

            <dt class="col-sm-3">Created</dt>
            <dd class="col-sm-9">{{ project.created_at.strftime("%d/%m/%Y %H:%M:%S") }}</dd>

            <dt class="col-sm-3">Last updated</dt>
            <dd class="col-sm-9">{{ project.updated_at.strftime("%d/%m/%Y %H:%M:%S") if project.updated_at else "Never" }}</dd>
        </dl>
        <form action="" method="post" novalidate>
            <div class="d-grid gap-2 d-sm-block">
                <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i> Yes, delete {{ project.name }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}