{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=organisation.id) }}">{{ organisation.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </nav>
        {{ super() }}
        <h1>{{title}}</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="d-grid gap-2 d-sm-block mb-3">
            <a class="btn btn-primary" href="{{ url_for('project.create', organisation_id=organisation.id) }}"><i class="bi bi-plus-lg"></i> New project</a>
            <a class="btn btn-secondary" href="{{ url_for('project.download', organisation_id=organisation.id) }}"><i class="bi bi-download"></i> Download</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">Filters</div>
            <form action="" method="get" novalidate>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control mb-3", type="text") }}
                    </li>
                    <li class="list-group-item">
                        {{ form.manager.label(class="form-label") }}
                        {% for subfield in form.manager %}
                            <div class="form-check">
                                {{ subfield(class="form-check-input", type="radio") }}
                                {{ subfield.label(class="form-check-label") }}
                            </div>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">
                        {{ form.programme.label(class="form-label") }}
                        {% for subfield in form.programme %}
                            <div class="form-check">
                                {{ subfield(class="form-check-input", type="radio") }}
                                {{ subfield.label(class="form-check-label") }}
                            </div>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">
                        {{ form.status.label(class="form-label") }}
                        {% for subfield in form.status %}
                            <div class="form-check">
                                {{ subfield(class="form-check-input", type="radio") }}
                                {{ subfield.label(class="form-check-label") }}
                            </div>
                        {% endfor %}
                    </li>
                </ul>
                <div class="card-body">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit"><i class="bi bi-funnel"></i> Apply filters</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-9">
        <p class="lead">Showing {{ projects|length if projects else 0 }} of {{ organisation.projects }} projects</p>
        {% if projects %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Project manager</th>
                        <th scope="col">Programme</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <th scope="row"><a href="{{ url_for('project.view', organisation_id=organisation.id, project_id=project.id) }}">{{ project.name }}</a></th>
                            <td>{% if project.manager %}<a href="{{ url_for('person.view', organisation_id=organisation.id, person_id=project.manager.id) }}">{{ project.manager.name }}</a>{% else %}None{% endif %}</td>
                            <td>{% if project.programme %}<a href="{{ url_for('programme.view', organisation_id=organisation.id, programme_id=project.programme.id) }}">{{ project.programme.name }}</a>{% else %}None{% endif %}</th>
                            <td><span class="badge {% if project.status=='active'%}bg-success{% elif project.status=='paused'%}bg-warning text-dark{% elif project.status=='closed'%}bg-danger{% endif %}">{{ project.status | upper }}</span></td>
                            <td><a href="{{ url_for('project.edit', organisation_id=organisation.id, project_id=project.id) }}"><i class="bi bi-pencil-square"></i> Edit</a><br><a href="{{ url_for('project.delete', organisation_id=organisation.id, project_id=project.id) }}" class="link-danger"><i class="bi bi-trash"></i> Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}