{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.list') }}">Organisations</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=project.organisation.id) }}">{{ project.organisation.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('project.list', organisation_id=project.organisation.id) }}">Programmes</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('project.view', organisation_id=project.organisation.id, project_id=project.id) }}">{{ project.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
        {{ super() }}
        <h1>{{title}}</h1>
        <hr>
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control is-invalid", type="text", spellcheck="true", aria_describedby="nameHelp nameError") }}
                        {% for error in form.name.errors %}<div class="invalid-feedback" id="nameError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.name(class="form-control is-valid", type="text", spellcheck="true", aria_describedby="nameHelp nameValid") }}
                        <div class="valid-feedback" id="nameValid">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.name(class="form-control", type="text", spellcheck="true", aria_describedby="nameHelp") }}
                {% endif %}
                <div id="nameHelp" class="form-text">{{ form.name.description }}</div>
            </div>
            <div class="mb-3">
                {{ form.manager.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.manager.errors %}
                        {{ form.manager(class="form-select is-invalid", aria_describedby="managerHelp managerError") }}
                        {% for error in form.manager.errors %}<div class="invalid-feedback" id="managerError">{{ error }}</div>{% endfor %}
                    {% else %}
                        {{ form.manager(class="form-select is-valid", aria_describedby="managerHelp managerError") }}
                        <div class="valid-feedback" id="managerValid">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.manager(class="form-select") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.programme.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.programme.errors %}
                        {{ form.programme(class="form-select is-invalid", aria_describedby="programmeHelp programmeError") }}
                        {% for error in form.programme.errors %}<div class="invalid-feedback" id="programmeError">{{ error }}</div>{% endfor %}
                    {% else %}
                        {{ form.programme(class="form-select is-valid", aria_describedby="programmeHelp programmeError") }}
                        <div class="valid-feedback" id="programmeValid">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.programme(class="form-select") }}
                {% endif %}
            </div>
            <div class="d-grid gap-2 d-sm-block">
                <button class="btn btn-primary" type="submit"><i class="bi bi-save"></i> Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}