{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=project.organisation.id) }}">{{ project.organisation.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('project.list', organisation_id=project.organisation.id) }}">Projects</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </nav>
        {{ super() }}
        <p class="h4 text-muted mb-0">Project</p>
        <h1>{{ title }}</h1>
        <hr>
        {% include '_project_description.html' %}
        <div class="d-grid gap-2 d-sm-block">
            <a class="btn btn-primary" href="{{ url_for('project.edit', organisation_id=project.organisation.id, project_id=project.id) }}"><i class="bi bi-pencil-square"></i> Edit</a>
            <a class="btn btn-danger" href="{{ url_for('project.delete', organisation_id=project.organisation.id, project_id=project.id) }}"><i class="bi bi-trash"></i> Delete</a>
        </div>
    </div>
</div>
{% endblock %}