<dl class="row">
    <dt class="col-sm-3">Head of practice</dt>
    <dd class="col-sm-9">
    {% if practice.head %}
        <a href="{{ url_for('person.view', organisation_id=practice.organisation.id, person_id=practice.head.id) }}">{{ practice.head.name }}</a></dd>
    {% else %}
        None
    {% endif %}
    </dd>

    <dt class="col-sm-3">Cost centre</dt>
    <dd class="col-sm-9">{{ practice.cost_centre if practice.cost_centre else "None" }}</dd>

    <dt class="col-sm-3">Created</dt>
    <dd class="col-sm-9">{{ practice.created_at.strftime("%d/%m/%Y %H:%M:%S") }}</dd>

    <dt class="col-sm-3">Last updated</dt>
    <dd class="col-sm-9">{{ practice.updated_at.strftime("%d/%m/%Y %H:%M:%S") if practice.updated_at else "Never" }}</dd>
</dl>