{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.list_organisations') }}">Organisations</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view_organisation', organisation_id=organisation.id) }}">{{ organisation.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </nav>
        {{ super() }}
        <h1>{{title}}</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="d-grid gap-2 d-sm-block">
            <a class="btn btn-primary" href="{{ url_for('organisation.create_practice', organisation_id=organisation.id) }}"><i class="bi bi-plus-lg"></i> New practice</a>
        </div>
    </div>
    <div class="col-md-6">
        <form action="" method="get" novalidate>
            <div class="input-group mb-3">
                <input type="search" name="name" value="{{ request.args.name }}" class="form-control" aria-label="Search" aria-describedby="button-addon">
                <button class="btn btn-primary" type="submit" id="button-addon" aria-label="Search"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="lead">{{ practices|length if practices else 0 }} practices{% if request.args.name %} containing "{{ request.args.name }}"{% endif %}</p>
        {% if practices %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Head of practice</th>
                            <th scope="col">Roles</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for practice in practices %}
                            <tr>
                                <th scope="row"><a href="{{ url_for('organisation.view_practice', organisation_id=organisation.id, practice_id=practice.id) }}">{{ practice.name }}</a></th>
                                <td><i class="bi bi-person"></i><a href="#">{{ practice.head }}</a></td>
                                <td><a href="{{ url_for('organisation.list_roles', organisation_id=practice.organisation.id, practice_id=practice.id) }}">{{ practice.roles }}</a></td>
                                <td><a href="{{ url_for('organisation.edit_practice', organisation_id=organisation.id, practice_id=practice.id) }}">Edit</a> | <a href="{{ url_for('organisation.delete_practice', organisation_id=organisation.id, practice_id=practice.id) }}" class="link-danger">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}