{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=practice.organisation.id) }}">{{ practice.organisation.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('practice.list', organisation_id=practice.organisation.id) }}">Practices</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </nav>
        {{ super() }}
        <p class="h4 text-muted mb-0">Practice</p>
        <h1>{{ title }}</h1>
        <hr>
        {% include '_practice_description.html' %}
        <div class="d-grid gap-2 d-sm-block">
            <a class="btn btn-primary" href="{{ url_for('role.list', organisation_id=practice.organisation.id, practice_id=practice.id) }}">View Roles <span class="badge bg-secondary">{{ practice.roles }}</span></a>
            <a class="btn btn-secondary" href="{{ url_for('practice.edit', organisation_id=practice.organisation.id, practice_id=practice.id) }}"><i class="bi bi-pencil-square"></i> Edit</a>
            <a class="btn btn-danger" href="{{ url_for('practice.delete', organisation_id=practice.organisation.id, practice_id=practice.id) }}"><i class="bi bi-trash"></i> Delete</a>
        </div>
    </div>
</div>
{% endblock %}