{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.list') }}">Organisations</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=programme.organisation.id) }}">{{ programme.organisation.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('programme.list', organisation_id=programme.organisation.id) }}">Programmes</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('programme.view', organisation_id=programme.organisation.id, programme_id=programme.id) }}">{{ programme.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Delete</li>
            </ol>
        </nav>
        {{ super() }}
        <h1>{{title}}</h1>
        <hr>
        <p class="lead">Are you sure you want to delete {{ programme.name }}?</p>
        <dl class="row">
            <dt class="col-sm-3">Programme manager</dt>
            <dd class="col-sm-9">{% if programme.manager %}<a href="{{ url_for('person.view', organisation_id=programme.organisation.id, person_id=programme.manager.id) }}">{{ programme.manager.name }}</a>{% else %}None{% endif %}</dd>
            
            <dt class="col-sm-3">Projects</dt>
            <dd class="col-sm-9">3</dd>

            <dt class="col-sm-3">Created</dt>
            <dd class="col-sm-9">{{ programme.created_at.strftime("%d/%m/%Y %H:%M:%S") }}</dd>

            <dt class="col-sm-3">Last updated</dt>
            <dd class="col-sm-9">{{ programme.updated_at.strftime("%d/%m/%Y %H:%M:%S") if programme.updated_at else "Never" }}</dd>
        </dl>
        <form action="" method="post" novalidate>
            <div class="d-grid gap-2 d-sm-block">
                <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i> Yes, delete {{ programme.name }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}