{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.list') }}">Organisations</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=organisation.id) }}">{{ organisation.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </nav>
        {{ super() }}
        <h1>{{title}}</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="d-grid gap-2 d-sm-block">
            <a class="btn btn-primary" href="{{ url_for('programme.create', organisation_id=organisation.id) }}"><i class="bi bi-plus-lg"></i> New programme</a>
        </div>
    </div>
    <div class="col-md-6">
        <form action="" method="get" novalidate>
            <div class="input-group mb-3">
                <input type="search" name="name" value="{{ request.args.name }}" class="form-control" aria-label="Search" aria-describedby="button-addon">
                <button class="btn btn-primary" type="submit" id="button-addon" aria-label="Search"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="lead">{{ programmes|length if programmes else 0 }} programmes{% if request.args.name %} containing "{{ request.args.name }}"{% endif %}</p>
        {% if programmes %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Manager</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for programme in programmes %}
                            <tr>
                                <th scope="row"><a href="{{ url_for('programme.view', organisation_id=organisation.id, programme_id=programme.id) }}">{{ programme.name }}</a></th>
                                <td>{% if programme.manager %}<a href="{{ url_for('person.view', organisation_id=organisation.id, person_id=programme.manager.id) }}">{{ programme.manager.name }}</a>{% else %}None{% endif %}</td>
                                <td><a href="{{ url_for('programme.edit', organisation_id=organisation.id, programme_id=programme.id) }}"><i class="bi bi-pencil-square"></i> Edit</a> | <a href="{{ url_for('programme.delete', organisation_id=organisation.id, programme_id=programme.id) }}" class="link-danger"><i class="bi bi-trash"></i> Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}