{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.list_organisations') }}">Organisations</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view_organisation', organisation_id=programme.organisation.id) }}">{{ programme.organisation.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.list_programmes', organisation_id=programme.organisation.id) }}">Programmes</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view_programme', organisation_id=programme.organisation.id, programme_id=programme.id) }}">{{ programme.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
        {{ super() }}
        <h1>{{title}}</h1>
        <hr>
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control is-invalid", type="text", spellcheck="true", aria_describedby="nameHelp nameError") }}
                        {% for error in form.name.errors %}<div class="invalid-feedback" id="nameError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.name(class="form-control is-valid", type="text", spellcheck="true", aria_describedby="nameHelp nameValid") }}
                        <div class="valid-feedback" id="nameValid">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.name(class="form-control", type="text", spellcheck="true", aria_describedby="nameHelp") }}
                {% endif %}
                <div id="nameHelp" class="form-text">{{ form.name.description }}</div>
            </div>
            <div class="mb-3">
                {{ form.programme_manager.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.programme_manager.errors %}
                        {{ form.programme_manager(class="form-control is-invalid", type="text", spellcheck="true", aria_describedby="programmeManagerHelp programmeManagerError") }}
                        {% for error in form.programme_manager.errors %}<div class="invalid-feedback" id="programmeManagerError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.programme_manager(class="form-control is-valid", type="text", spellcheck="true", aria_describedby="programmeManagerHelp programmeManagerValid") }}
                        <div class="valid-feedback" id="programmeManagerValid">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.programme_manager(class="form-control", type="text", spellcheck="true", aria_describedby="programmeManagerHelp") }}
                {% endif %}
                <div id="programmeManagerHelp" class="form-text">{{ form.programme_manager.description }}</div>
            </div>
            <div class="d-grid gap-2 d-sm-block">
                <button class="btn btn-primary" type="submit"><i class="bi bi-save"></i> Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}