{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=role.organisation.id) }}">{{ role.organisation.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('role.view', organisation_id=role.organisation.id, role_id=role.id) }}">{{ role.title }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Delete</li>
            </ol>
        </nav>
        {{ super() }}
        <p class="h4 text-muted mb-0">Role</p>
        <h1>{{title}}</h1>
        <hr>
        <p class="lead">Are you sure you want to delete {{ role.title }}?</p>
        {% include '_role_description.html' %}
        <form action="" method="post" novalidate>
            <div class="d-grid gap-2 d-sm-block">
                <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i> Yes, delete {{ role.title }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}