{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=role.organisation.id) }}">{{ role.organisation.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('role.list', organisation_id=role.organisation.id) }}">Roles</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('role.view', organisation_id=role.organisation.id, role_id=role.id) }}">{{ role.title }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
        {{ super() }}
        <p class="h4 text-muted mb-0">Role</p>
        <h1>{{title}}</h1>
        <hr>
        {% include '_role_form.html' %}
    </div>
</div>
{% endblock %}