<dl class="row">
    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9"><a href="mailto:{{ person.email_address }}">{{ person.email_address }}</a></dd>
    
    <dt class="col-sm-3">Grade</dt>
    <dd class="col-sm-9"><a href="{{ url_for('grade.view', organisation_id=person.organisation.id, grade_id=person.role.grade.id) }}">{{ person.role.grade.name }}</a></dd>

    <dt class="col-sm-3">Role</dt>
    <dd class="col-sm-9"><a href="{{ url_for('role.view', organisation_id=person.organisation.id, role_id=person.role.id) }}">{{ person.role.title }}</a></dd>
    
    <dt class="col-sm-3">Practice</dt>
    <dd class="col-sm-9">{% if person.role.practice %}<a href="{{ url_for('practice.view', organisation_id=person.organisation.id, practice_id=person.role.practice.id) }}">{{ person.role.practice.name }}</a>{% else %}None{% endif %}</dd>

    <dt class="col-sm-3">Location</dt>
    <dd class="col-sm-9"><a href="{{ url_for('location.view', organisation_id=person.organisation.id, location_id=person.location.id) }}">{{ person.location.name }}</a></dd>

    <dt class="col-sm-3">Full time equivalent</dt>
    <dd class="col-sm-9">{{ person.full_time_equivalent }}</dd>

    <dt class="col-sm-3">Employment</dt>
    <dd class="col-sm-9">{{ person.employment | title }}</dd>

    <dt class="col-sm-3">Created</dt>
    <dd class="col-sm-9">{{ person.created_at.strftime("%d/%m/%Y %H:%M:%S") }}</dd>

    <dt class="col-sm-3">Last updated</dt>
    <dd class="col-sm-9">{{ person.updated_at.strftime("%d/%m/%Y %H:%M:%S") if person.updated_at else "Never" }}</dd>
</dl>