{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.list') }}">Organisations</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=person.organisation.id) }}">{{ person.organisation.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('person.list', organisation_id=person.organisation.id) }}">People</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('person.view', organisation_id=person.organisation.id, person_id=person.id) }}">{{ person.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
        {{ super() }}
        <h1>{{title}}</h1>
        <hr>
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control is-invalid", type="text", spellcheck="true", aria_describedby="nameHelp nameError") }}
                        {% for error in form.name.errors %}<div class="invalid-feedback" id="nameError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.name(class="form-control is-valid", type="text", spellcheck="true", aria_describedby="nameHelp nameValid") }}
                        <div class="valid-feedback" id="nameValid">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.name(class="form-control", type="text", spellcheck="true", aria_describedby="nameHelp") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.email_address.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.email_address.errors %}
                        {{ form.email_address(class="form-control is-invalid", type="email", spellcheck="false", autocomplete="email", aria_describedby="email_addressHelp email_addressError") }}
                        {% for error in form.email_address.errors %}<div class="invalid-feedback" id="email_addressError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.email_address(class="form-control is-valid", type="email", spellcheck="false", autocomplete="email", aria_describedby="email_addressHelp email_addressValid") }}
                        <div class="valid-feedback" id="email_addressValid">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.email_address(class="form-control", type="email", spellcheck="false", autocomplete="email", aria_describedby="email_addressHelp") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.role.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.role.errors %}
                        {{ form.role(class="form-select is-invalid", aria_describedby="roleHelp roleError") }}
                        {% for error in form.role.errors %}<div class="invalid-feedback" id="roleError">{{ error }}</div>{% endfor %}
                    {% else %}
                        {{ form.role(class="form-select is-valid", aria_describedby="roleHelp roleError") }}
                        <div class="valid-feedback" id="roleValid">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.role(class="form-select") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.employment.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.employment.errors %}
                        {% for subfield in form.employment %}
                        <div class="form-check mb-3">
                            {{ subfield(class="form-check-input is-invalid", type="radio") }}
                            {{ subfield.label(class="form-check-label") }}
                            {% for error in form.employment.errors %}<div class="invalid-feedback">{{error}}</div>{% endfor %}
                        </div>
                        {% endfor %}
                    {% else %}
                        {% for subfield in form.employment %}
                        <div class="form-check">
                            {{ subfield(class="form-check-input is-valid", type="radio") }}
                            {{ subfield.label(class="form-check-label") }}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for subfield in form.employment %}
                    <div class="form-check">
                        {{ subfield(class="form-check-input", type="radio") }}
                        {{ subfield.label(class="form-check-label") }}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.full_time_equivalent.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.full_time_equivalent.errors %}
                        {{ form.full_time_equivalent(class="form-control is-invalid", type="text", spellcheck="true", aria_describedby="full_time_equivalentHelp full_time_equivalentError") }}
                        {% for error in form.full_time_equivalent.errors %}<div class="invalid-feedback" id="full_time_equivalentError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.full_time_equivalent(class="form-control is-valid", type="text", spellcheck="true", aria_describedby="full_time_equivalentHelp full_time_equivalentValid") }}
                        <div class="valid-feedback" id="full_time_equivalentValid">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.full_time_equivalent(class="form-control", type="text", spellcheck="true", aria_describedby="full_time_equivalentHelp") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.location.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.location.errors %}
                        {{ form.location(class="form-control is-invalid", type="text", spellcheck="true", aria_describedby="locationHelp locationError") }}
                        {% for error in form.location.errors %}<div class="invalid-feedback" id="locationError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.location(class="form-control is-valid", type="text", spellcheck="true", aria_describedby="locationHelp locationValid") }}
                        <div class="valid-feedback" id="locationValid">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.location(class="form-control", type="text", spellcheck="true", aria_describedby="locationHelp") }}
                {% endif %}
            </div>
            <div class="d-grid gap-2 d-sm-block">
                <button class="btn btn-primary" type="submit"><i class="bi bi-save"></i> Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}