{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('organisation.view', organisation_id=person.organisation.id) }}">{{ person.organisation.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('person.list', organisation_id=person.organisation.id) }}">People</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('person.view', organisation_id=person.organisation.id, person_id=person.id) }}">{{ person.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
        {{ super() }}
        <p class="h4 text-muted mb-0">Person</p>
        <h1>{{title}}</h1>
        <hr>
        {% include '_person_form.html' %}
    </div>
</div>
{% endblock %}